/* _section.scss */

/*
HERO
================================================ */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/muse.jpg);
    text-align: center;
    padding-top: 10vh;
}

/*
MENU
================================================ */
.menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/lumiere.jpg);
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}

/*
CONTACT
================================================ */
.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/shall_we_dance.jpg);
    text-align: center;
    padding-top: 8vh;
}

.btn {
    background: #555;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 6px;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}

.contact-sns {
    display: flex;
    justify-content: center;

    a {
        background: #fff;
        width: 3.75rem;
        height: 3.75rem;
        display: inline-block;
        margin: 0 .5rem;
        border-radius: 50%;
        font-size: 2rem;
        padding: .75rem 0 0 .125rem;
        color: #555;
    }
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
    -webkit-transition: background 0.8s;
    -moz-transition: background 0.8s;
    -ms-transition: background 0.8s;
    -o-transition: background 0.8s;

    &:active {
        background-color: #777;
        background-size: 100%;
        transition: background 0s;
    }
}