/* _section.scss */

/*
HERO
================================================ */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/muse.jpg);
    text-align: center;
    padding-top: 10vh;
}

/*
MENU
================================================ */
.menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/lumiere.jpg);
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}

/*
CONTACT
================================================ */
.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/concerts/shall_we_dance.jpg);
    text-align: center;
    padding-top: 8vh;
}